## Data Generation

In [11]:
import pandas as pd
import datetime as dt

In [7]:
df = pd.read_csv(r'customer_MOCK_DATA.csv', parse_dates=['join_date'])

df.head()

,customer_id,first_name,last_name,age,email,city,country,postal_code,gender,membership_status,loyalty_points,join_date
0,1,Delphine,Drew,42.0,ddrew0@blog.com,Carson City,United States,89714,female,active,1634,2024-11-19
1,2,Isabel,Tapply,37.0,itapply1@craigslist.org,Memphis,United States,38161,female,pending,4523,2025-04-22
2,3,Lonna,Fellon,78.0,lfellon2@tripod.com,Washington,United States,20535,male,active,649,2024-10-13
3,4,Ianthe,Smidmore,49.0,ismidmore3@msu.edu,Albany,United States,12210,female,active,4623,2025-05-13
4,5,Kylen,Gummary,38.0,kgummary4@usnews.com,Naperville,United States,60567,female,active,258,2024-09-21

In [18]:
df['join_date'] = df['join_date'] - dt.timedelta(days=365)

In [20]:
df.to_csv('customer_MOCK_DATA_V2.csv')

In [ ]:
products = [
    # Footwear
    {"product_id": 1, "product_name": "Running Shoes", "category": "Footwear", "price": 89.99},
    {"product_id": 2, "product_name": "Cross-Training Shoes", "category": "Footwear", "price": 79.99},
    {"product_id": 3, "product_name": "Cleats", "category": "Footwear", "price": 59.99},
    {"product_id": 4, "product_name": "Trail Running Shoes", "category": "Footwear", "price": 94.99},
    {"product_id": 5, "product_name": "Indoor Court Shoes", "category": "Footwear", "price": 74.99},

    # Fitness Equipment
    {"product_id": 6, "product_name": "Yoga Mat", "category": "Fitness Equipment", "price": 25.00},
    {"product_id": 7, "product_name": "Resistance Bands Set", "category": "Fitness Equipment", "price": 19.99},
    {"product_id": 8, "product_name": "Kettlebell - 20lb", "category": "Fitness Equipment", "price": 35.99},
    {"product_id": 9, "product_name": "Adjustable Dumbbells", "category": "Fitness Equipment", "price": 119.99},
    {"product_id": 10, "product_name": "Foam Roller", "category": "Fitness Equipment", "price": 21.50},

    # Team Sports
    {"product_id": 11, "product_name": "Basketball", "category": "Team Sports", "price": 29.99},
    {"product_id": 12, "product_name": "Soccer Ball", "category": "Team Sports", "price": 24.99},
    {"product_id": 13, "product_name": "Football", "category": "Team Sports", "price": 27.99},
    {"product_id": 14, "product_name": "Volleyball", "category": "Team Sports", "price": 22.99},
    {"product_id": 15, "product_name": "Lacrosse Stick", "category": "Team Sports", "price": 69.99},

    # Apparel
    {"product_id": 16, "product_name": "Soccer Jersey", "category": "Apparel", "price": 49.99},
    {"product_id": 17, "product_name": "Running Shorts", "category": "Apparel", "price": 29.99},
    {"product_id": 18, "product_name": "Compression Shirt", "category": "Apparel", "price": 34.99},
    {"product_id": 19, "product_name": "Sports Bra", "category": "Apparel", "price": 39.99},
    {"product_id": 20, "product_name": "Athletic Socks (3-pack)", "category": "Apparel", "price": 14.99},

    # Racquet Sports
    {"product_id": 21, "product_name": "Tennis Racket", "category": "Racquet Sports", "price": 79.99},
    {"product_id": 22, "product_name": "Pickleball Paddle", "category": "Racquet Sports", "price": 44.99},
    {"product_id": 23, "product_name": "Badminton Set", "category": "Racquet Sports", "price": 39.99},
    {"product_id": 24, "product_name": "Tennis Balls (can)", "category": "Racquet Sports", "price": 8.99},
    {"product_id": 25, "product_name": "Squash Goggles", "category": "Racquet Sports", "price": 24.99},

    # Accessories
    {"product_id": 26, "product_name": "Cycling Gloves", "category": "Accessories", "price": 15.99},
    {"product_id": 27, "product_name": "Sweatband Set", "category": "Accessories", "price": 9.99},
]

products_df = pd.DataFrame(products)
display(products_df)

    product_id             product_name           category   price
0            1            Running Shoes           Footwear   89.99
1            2     Cross-Training Shoes           Footwear   79.99
2            3                   Cleats           Footwear   59.99
3            4      Trail Running Shoes           Footwear   94.99
4            5       Indoor Court Shoes           Footwear   74.99
5            6                 Yoga Mat  Fitness Equipment   25.00
6            7     Resistance Bands Set  Fitness Equipment   19.99
7            8        Kettlebell - 20lb  Fitness Equipment   35.99
8            9     Adjustable Dumbbells  Fitness Equipment  119.99
9           10              Foam Roller  Fitness Equipment   21.50
10          11               Basketball        Team Sports   29.99
11          12              Soccer Ball        Team Sports   24.99
12          13                 Football        Team Sports   27.99
13          14               Volleyball        Team Sports   22.99
14          15           Lacrosse Stick        Team Sports   69.99
15          16            Soccer Jersey            Apparel   49.99
16          17           Running Shorts            Apparel   29.99
17          18        Compression Shirt            Apparel   34.99
18          19               Sports Bra            Apparel   39.99
19          20  Athletic Socks (3-pack)            Apparel   14.99
20          21            Tennis Racket     Racquet Sports   79.99
21          22        Pickleball Paddle     Racquet Sports   44.99
22          23            Badminton Set     Racquet Sports   39.99
23          24       Tennis Balls (can)     Racquet Sports    8.99
24          25           Squash Goggles     Racquet Sports   24.99
25          26           Cycling Gloves        Accessories   15.99
26          27            Sweatband Set        Accessories    9.99

In [2]:
products_df.to_csv('products_mocker.csv')